.contactListOuterBox {
  width: 60%;
  margin: 20px auto;
}
.searchBox {
  margin-bottom: 20px;
}
.contactCard {
  border: 2px rgb(99, 175, 99);
  border-radius: 10px;
  padding: 15px;
  width: 20%;
  background-color: rgb(191, 232, 191);
  box-shadow: 2px 1px 1px lightgray;
  color:navy;
  margin: 10px;
}
